<div class="bar black bar-position">
    <a class="bar-item button" asp-controller="Home" asp-action="Index">Home</a>
    <a class="bar-item button" asp-controller="Catalog" asp-action="Index">Catalog</a>
    <a class="bar-item button" asp-controller="Admin" asp-action="Index">Administrator</a>
</div>